name: release-packages

on:
  push:
    tags: [ "v*" ]

env:
  REGISTRY_SERVER_ADDRESS: ghcr.io/miracleeverywhere/dst-management-platform-api

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Clone external web repository
        run: git clone https://github.com/miracleEverywhere/dst-management-platform-web.git

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Build web dist
        run: |
          cd dst-management-platform-web
          pnpm install
          pnpm build

      - name: Prepare embedFS directory
        run: |
          mkdir -p embedFS/dist
          cp -r dst-management-platform-web/dist/* embedFS/dist/

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.4

      - name: Build Go binary
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          go build -o ./dmp
          tar zcf dmp.tgz dmp

      - name: Login to GitHub Package Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PACKAGE_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_SERVER_ADDRESS }}
          tags: |
            type=ref,event=tag
            type=sha,prefix=

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          file: ./docker/Dockerfile
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            ./dmp.tgz